<style type="text/css">
@font-face{
font-family:'Glyphicons Halflings';
src:url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
src:url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.gbqfwaheg{position:relative;top:2px;display:inline-block;font-family:"Glyphicons Halflings";font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
.gbqfwaheg-question-sign:before{content:"\e085";}
.gbqfwaheg-new-window:before{content:"\e164";}
.gbqfwaheg-arrow-right:before{content:"\e092"}
.gbqfwaheg-circle-arrow-right:before{content:"\e131"}
.gbqfwaheg-chevron-right:before{content:"\e080"}
.gbqfwaheg-hand-right:before{content:"\e127"}
.gbqfwaheg-question-sign:before{content:"\e085"}
.gbqfwaheg-facetime-video:before{content:"\e059"}
.gbqfwaheg-play:before{content:"\e072"}
.qbfwa{
margin:0 0 3px;
direction:ltr;
padding:0;
box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;
overflow:auto;
position:relative;
width:auto;
*width:auto;
height:auto;
overflow: hidden;
display: inline;
}
.gbqfwa{
margin:0;
padding:0;
}
.tt2lq44szaa92 .gbcfwaxUasi:hover {cursor:pointer;text-decoration: underline!important;}
.tt2lq44szaa92 a.gbqfway_frogd:hover {cursor:pointer;text-decoration: underline!important;}
.tt2lq44szaa92 div.gbcfwaxUasi .gbqfway_frogd:visited { text-decoration: none; }
.tt2lq44szaa92 .gbcfwaxUasi a{text-decoration:none;border:0;cursor:pointer;display:inline!important;}
.gbcfwaxUasi .gbqfway_ulv8{display:block;overflow:hidden;text-transform:none;}
.gbqfwa .gbqfway_ulv8_box{
display:block;
height: auto;
margin: 2px 0 0 0;
padding: 0;
}
.gbqfwa .bqfway_avbrott_simule{
position:relative;
width:100%;
}
.gbqfwa .gbqfqwb{margin-left:-2%;}
.gbqfwa .gbcfwaxUasi{
zoom:1;
cursor:pointer;
box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;
direction:ltr;
border-width:0;
overflow:hidden
position: relative;
margin: 0 0 2% 2%;
float: left;
}
.gbqfway_videoicon {margin: 0 5px 0 0; display:inline;}
.gbqfwapq {
display: none;
height: auto;
padding: 0;
text-align: left!important;
line-height: normal;
margin: 3px 0;
float: none;
}
div.gbqfwapq span.gbqfwaosp {
float: right;
cursor:pointer;
padding: 0;
}
.gbqfwa .gbcfwaxUasi_aspect{width: 100%;}
.gbcfwaxUasi .gbqfway_frogd {
width:auto!important;
white-space:pre-wrap;
white-space:-moz-pre-wrap;
white-space:-o-pre-wrap;
word-wrap:break-word;
margin-bottom:3px;
white-space:normal;
text-decoration: none;
line-height: normal;
overflow:hidden;
padding: 0;
}
.gbcfwaxUasi .gbqfwayadvertiser_title {
display: none;
width:auto!important;
white-space:pre-wrap;
white-space:-moz-pre-wrap;
white-space:-o-pre-wrap;
word-wrap:break-word;
margin-bottom:3px;
white-space:normal;
height: auto;
text-decoration: none;
line-height: normal;
overflow:hidden;
}
.gbqfwa .gbcfwaxUasi .gbqfway_avbrott {
float:left;
overflow:hidden!important;
background-color:transparent;
background-repeat:no-repeat;
display:inline-block;
margin: 0;
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-image: url(//i.4cdn.org/scdfeolite/scdfenvaldite/2018/09/2018/scdencite-bobnotime-I84I-a0rcAFf.jpg);
}
@media screen and (max-width: 479px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:none;visibility:hidden;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:none;visibility:hidden;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{clear:both;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 97.99%; margin: 0 0 5% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_10182 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_8221 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9848 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9360 {
}
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_1 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{clear:both;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{clear:both;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{clear:both;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip4{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 97.99%; margin: 0 0 4% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_10182 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_8221 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9848 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9360 {
}
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_2 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:none;visibility:hidden;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 31.33%; margin: 0 0 3% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_10182 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_8221 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9848 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9360 {
}
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_3 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:none;visibility:hidden;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 31.33%; margin: 0 0 2% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_10182 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_8221 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9848 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9360 {
}
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_4 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
@media screen and (min-width: 1440px) and (max-width: 3920px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:none;visibility:hidden;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 31.33%; margin: 0 0 1% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_10182 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_8221 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9848 {
}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi .gbqfway_avbrott_9360 {
}
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_5 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
.gbqfwaabe {
display: none;
}
</style>
