.tt2lq44szaa92 .gbqfway_avbrott {
background-image: url(//i.4cdn.org/scdfeolite/scdfenvaldite/2018/09/2018/scdencite-bobnotime-I84I-a0rcAFf.jpg);
}
@media screen and (max-width: 479px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:none;visibility:hidden;height:1px;width:1px;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:none;visibility:hidden;height:1px;width:1px;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{clear:both;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 97.99%; margin: 0 0 5% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_1 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{clear:both;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{clear:both;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{clear:both;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip4{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 97.99%; margin: 0 0 4% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_2 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:none;visibility:hidden;height:1px;width:1px;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 31.33%; margin: 0 0 3% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_3 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:none;visibility:hidden;height:1px;width:1px;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 31.33%; margin: 0 0 2% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_4 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
@media screen and (min-width: 1440px) and (max-width: 3920px) {
.tt2lq44szaa92 .gbqfwa #gbqfwabzip0{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip1{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip2{display:block;visibility:visible;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{display:none;visibility:hidden;height:1px;width:1px;}
.tt2lq44szaa92 .gbqfwa #gbqfwabzip3{clear:both;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi{color: #000000; width: 31.33%; margin: 0 0 1% 2%;}
.tt2lq44szaa92 .gbqfwa .gbqfqwb{margin-left:-2%; *margin-left:0;}
.tt2lq44szaa92 .gbqfwa .gbcfwaxUasi_aspect { padding-bottom:66%; }
.tt2lq44szaa92 div.gbqfwapq {
display: block;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .mdeyheadline_5 {
display: inline;
color: #959595;
font-family: arial;
font-size: 13px;
font-weight:bold;
}
.tt2lq44szaa92 .gbqfway_glyph_in_headline {font-size: 13px;color: #959595;}
.tt2lq44szaa92 .gbcfwaxUasi .gbqfway_frogd {
font-family: inherit;
font-size: 15px;
font-weight: inherit;
color: #000000;
text-align: left;
}
.tt2lq44szaa92 .gbcfwaxUasi a{color:#000000;}
.tt2lq44szaa92 .gbqfwamww {font-size: 15px;color: #000000;}
}
