@font-face{
font-family:'Glyphicons Halflings';
src:url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
src:url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.gbqfwaheg{position:relative;top:2px;display:inline-block;font-family:"Glyphicons Halflings";font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
.gbqfwaheg-question-sign:before{content:"\e085";}
.gbqfwaheg-new-window:before{content:"\e164";}
.gbqfwaheg-arrow-right:before{content:"\e092"}
.gbqfwaheg-circle-arrow-right:before{content:"\e131"}
.gbqfwaheg-chevron-right:before{content:"\e080"}
.gbqfwaheg-hand-right:before{content:"\e127"}
.gbqfwaheg-question-sign:before{content:"\e085"}
.gbqfwaheg-facetime-video:before{content:"\e059"}
.gbqfwaheg-play:before{content:"\e072"}
.qbfwa{float:none;}
.gbqfwa{
margin:0;
padding:0;
}
.gbfwa{
margin:0 0 3px;
direction:ltr;
padding:0;
box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;
overflow:auto;
position:relative;
width:auto;
*width:auto;
height:auto;
overflow: hidden;
display: inline;
}
.gbqfway_ulv8{display:block;overflow:hidden;text-transform:none;}
.gbcfwaxUasi > * {
display:block;
height: auto;
margin: 2px 0 0 0;
padding: 0;
position:relative;
width:100%;
}
/*.gbqfway_ulv8_box{
display:block;
height: auto;
margin: 2px 0 0 0;
padding: 0;
position:relative;
width:100%;
}*/
/*.bqfway_avbrott_simule{
position:relative;
width:100%;
}*/
.gbqfqwb{margin-left:-2%;}
.gbcfwaxUasi{
zoom:1;
cursor:pointer;
box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;
direction:ltr;
border-width:0;
overflow:hidden;
position: relative;
margin: 0 0 2% 2%;
float: left;
}
.gbqfway_videoicon {margin: 0 5px 0 0; display:inline;}
.gbqfwapq {
display: none;
height: auto;
padding: 0;
text-align: left!important;
line-height: normal;
margin: 3px 0;
float: none;
}
.gbcfwaxUasi_aspect{width: 100%; display:block;}
.gbqfway_frogd {
width:auto!important;
white-space:pre-wrap;
white-space:-moz-pre-wrap;
white-space:-o-pre-wrap;
word-wrap:break-word;
margin-bottom:3px;
white-space:normal;
text-decoration: none;
line-height: normal;
overflow:hidden;
padding: 0;
}
a.gbqfway_frogd:hover {cursor:pointer;text-decoration: underline!important;}
a.gbqfway_frogd:visited { text-decoration: none; }
.gbqfway_avbrott {
float:left;
overflow:hidden!important;
background-color:transparent;
background-repeat:no-repeat;
display:inline-block;
margin: 0;
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
}
.gbcfwaxUasi:hover {cursor:pointer;text-decoration:underline!important;}
.gbcfwaxUasi a{text-decoration:none;border:0;cursor:pointer;display:inline!important;}
.gbqfwaabe { display: none; }
